<p style="color: green"><%= notice %></p>

<%= render @experiment %>

<ul>
  <% @experiment.examples.order(:created_at).each do |example| %>
    <li>
      <%= example.content %>
    </li>
  <% end %>

  <li>
    <%= render "examples/form", example: Example.new(experiment: @experiment) %>
  </li>
</ul>



<div>
  <%= link_to "Edit this experiment", edit_experiment_path(@experiment) %> |
  <%= link_to "Back to experiments", experiments_path %>

  <%= button_to "Destroy this experiment", @experiment, method: :delete %>
</div>
