<p style="color: green"><%= notice %></p>

<%= render @experiment %>

<div>
  <%= link_to "Edit this experiment", edit_experiment_path(@experiment) %> |
  <%= link_to "Back to experiments", experiments_path %>

  <%= button_to "Destroy this experiment", @experiment, method: :delete %>
</div>
