<div id="<%= dom_id example %>">
  <p>
    <strong>Experiment:</strong>
    <%= example.experiment_id %>
  </p>

  <p>
    <strong>Content:</strong>
    <%= example.content %>
  </p>

  <p>
    <strong>Embedding:</strong>
    <%= example.embedding %>
  </p>

  <p>
    <strong>User:</strong>
    <%= example.user_id %>
  </p>

</div>
